@page
@model MyApp.Namespace.AboutModel
@{
    ViewData["Title"] = "Om sidan";
}
<div>
    <h1 class="welcome-h1">Om sidan</h1>
    <p class="welcometext">Denna webbplats är skapad av Johan Magnusson för kursen DT191G Webbutveckling med .NET.
        <br><br> Jag
        är 26 år gammal och bor i Malmö. Jag studerar sista terminen på webbutvecklingsprogrammet på Mittuniversitetet.
    </p>
</div>
