@page
@model IndexModel
@{
    ViewData["Title"] = "Hem";
}

<div>
    <h1 class="welcome-h1">Välkommen</h1>
    <p class="welcometext">Kul att du har hittat till min webbplats! <br><br>

        Den här sidan är min lösning av moment 1.1 i webbutveckling med .NET. Jag använder Razor Pages för att bygga upp
        webbplatsen och testa mig runt dess olika funktioner. <br><br>

        Kika runt och se vad jag har fått ihop – kanske hittar du något intressant!
        <br><br>
        Tack för besöket!
</div>
