@page
@model IndexModel
@{
    ViewData["Title"] = "Hem";
}

<div>
    <h1 class="welcome-h1">Välkommen</h1>
    <p class="welcometext">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Magnam saepe officia eligendi ea
        blanditiis? Debitis,
        recusandae perspiciatis. Quis sed nulla doloremque itaque expedita saepe commodi dolores. Quis perspiciatis
        eligendi ducimus? <br><br> Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque repellat consectetur
        voluptates asperiores ut, exercitationem ea necessitatibus! Facere sit optio quae, quam ut repudiandae pariatur
        deleniti modi, aut blanditiis illo?</p> <br><br>
</div>
